{
	"listen_port": 3000,
	"github_secret": "GITHUB-WEBHOOK-SECRET",
	"git_pull_path": "/PATH/TO/YOUR/CLONED-GITHUB-PROJECT",
        "server_cfg_path": "PATH/TO/FIVEM-SERVER-CONFIG.yml",
	"rcon_host": "localhost",
	"rcon_port": 30120 ,
	"rcon_password": "FIVEM-RCON-PASSWORD"
}
